{% extends "site/base.html" %}
{% block content %}
<main>
    {% include "site/sections/hero.html" %}
    {% if partners %}{% include "site/sections/partners.html" %}{% endif %}
    {% include "site/sections/services.html" %}
    {% if projects %}{% include "site/sections/projects.html" %}{% endif %}
    {% include "site/sections/process.html" %}
    {% include "site/sections/about.html" %}
    {% include "site/sections/cooperation.html" %}
    {% include "site/sections/contact.html" %}
</main>
{% endblock %}
{% block modals %}{% if projects %}{% include "site/_project_modal.html" %}{% endif %}{% endblock %}
